@import '../../sass/styles.scss';

.NavTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $primaryBgColor;
  color: $primaryColor;
  border-radius: 0.25rem;
}
